<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Custom Login page</title>
</head>
<body>
<h3> Custom Login page</h3>

<form action="#" th:action="@{/authenticateUser}" method="POST">
  <p>
    Username: <input type="text" name="username" />
  </p>
  <p>
    Password: <input type="text" name="password" />
  </p>
  <input type="submit" value="Login">
</form>

<div class="text--center" th:if="${param.error}"> Invalid username and password.</div>
<div class="text--center" th:if="${param.logout}"> You have been logged out.</div>

</body>
</html>
