<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>List Customers</title>
    <!-- reference our style sheet -->
    <link type="text/css"
          rel="stylesheet"
          href="/css/style.css"/>

</head>

<body>

<div id="wrapper">
    <div id="header">
        <h2>CRM - Customer Relationship Manager</h2>
    </div>
</div>
<div id="container">
    <div id="content">
        <!--  add our html table here -->
        <a type="button" class="add-button"
           th:href="@{/customer/showFormForAdd}">Add customer</a>

        <table>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
            </tr>
            <!-- loop over and print our customers -->
            <tr th:each="tempCustomer: ${customers}">
                <td th:text="${tempCustomer.firstName}"/>
                <td th:text="${tempCustomer.lastName}"/>
                <td th:text="${tempCustomer.email}"/>
            </tr>
        </table>
    </div>
</div>
</body>
</html>